/* GENERAL */
.navLogo {
  width: 150px;
}
.navFontColor {
  color: #18191f;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}
.colorChange {
  color: #4caf4f;
}

.colorBG {
  background-color: #f5f7fa;
}

.colorFT {
  background-color: #263238;
  color: #fff;
}
.hamImg {
  display: none;
}

.heroIMG {
  width: 500px;
  height: 500px;
}

.mainHeadingHero {
  font-size: 50px;
  font-weight: bold;
}
.partofMainheading {
  color: #4caf4f;
  font-size: 50px;
  font-weight: bold;
}
.analyticsHeading {
  color: #4caf4f;
}
.headingColor {
  color: #4d4d4d;
}
.fontColor {
  color: #717171;
}
#footerlogo {
  padding-top: 15px;
  width: 55px;
}
.productImg {
  width: 100%;
  height: auto;
}
.customerImg {
  width: 100%;
  height: auto;
}
.inputEmail {
    width: 100%;
  /* border-radius: 10px;
  padding: 10px; */
}
.cardIMG {
  width: 50px;
  height: 50px;
  display: block;
  margin: 0 auto;
  padding: 5px;
}

.cardItem {
  position: relative;
  padding: 30px;
  margin-bottom: 20px;
}

.cardItem img {
  width: 100%;
  border-radius: 10px;
}

.text-box {
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f5f7fa;
  width: 85%;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.btn {
  background-color: #4caf4f;
  color: #fff;
}

.btn:hover {
  opacity: 0.8;
}

.emailINPUT {
  border-radius: 10px;
  padding: 10px;
}

@media (max-width: 1024px) {
  .heroSection {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }

  .heroIMG {
    width: 100%;
    max-width: 400px;
    height: auto;
  }
  .aboutLogo {
    width: 55px;
  }
  .aboutLogo1 {
    width: 30px;
  }
  .footerLG {
    width: 55px;
  }
  #footerlogo {
    width: 35px;
    padding-top: 5px;
  }
}

@media (max-width: 768px) {
  .nav-list,
  .buttonToggle {
    display: none;
  }
  .hamImg {
    display: block;
    margin-left: auto;
  }

  .hamImg {
    display: block;
    width: 30px;
  }

  .heroSection {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }

  .heroIMG {
    width: 100%;
    max-width: 280px;
    height: auto;
  }

  .cardRes,
  .mobileLogin,
  .analyticsSection,
  .productSection,
  .customersSection {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .aboutLogo {
    width: 45px;
  }
  .aboutLogo1 {
    width: 30px;
  }
  .footerLG {
    width: 45px;
  }
  #footerlogo {
    width: 30px;
    padding-top: 0%;
  }

  .cardRes2 {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .cardItem {
    max-width: 600px;
  }

  .text-box {
    position: static;
    transform: none;
    margin-top: 10px;
    width: 100%;
  }
  .imageTest {
    width: 100%;
    height: auto;
  }
}

/* SMALL MOBILE */
@media (max-width: 400px) {
  body {
    padding: 0 10px;
  }

  h1 {
    font-size: 20px;
  }

  p {
    font-size: 12px;
  }

  .heroIMG {
    max-width: 200px;
  }

  .text-box {
    font-size: 12px;
    padding: 10px;
  }
  .rafikiImg {
    width: 100%;
    height: auto;
    align-items: center;
  }
}
@media (max-width: 320px) {
  .navLogo {
    width: 100px;
  }
  /* .navContent {
  display: flex;
  justify-content: space-between; 
  align-items: center;           
  padding: 10px 0px;
  width: 100%;                  
} */
  /* .hamImg{
    margin: 0%;
} */
  .hamImg {
    margin-top: -30px;
  }
    .aboutLogo {
    width: 30px;
  }
  .aboutLogo1 {
    width: 20px;
    padding: 5px 0px;
  }
  .footerLG {
    width: 20px;
  }
  #footerlogo {
    width: 15px;
    /* padding-top: 5px; */
    padding-bottom: 5px;
  }
  .rafikiImg {
    width: 100%;
    height: auto;

    
  }
}
